<!doctype html>
<html lang="en">
    <head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>RoboSimP</title>
<style>
    body{
        font-family: sans-serif;
    }
    .organize{
        float:left;
        width: 50%;
        padding:1%;
        margin: 1%
    }
    .title {
        text-align: center;
        font-size: 4em;
        font-weight: lighter;
        padding: 30px 0px 0px 0px;
    }
    .form{
        width: 320px;
        margin-left: 25px;
    }
    .graph{
        margin-top: 50px;
        margin-left: 150px;
    }
    .under-graph{
        margin-left: 5px;
    }
    .btn-outline-secondary{
        position:absolute;
        top: 145px;
        left: 240px
            
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
</style>
        
</head>
    <body>
        <main> 
        <h1 class="title">RoboSimP</h1>   
            <div class= "form organize">
                <h4>Moving Avg.</h4>
                <form action="/counter-trend" method="get">
                    <button type="submit" class="btn btn-outline-secondary">Change Strategy</button>
                </form>
             <form action="/moving-avg" method="get">
                

                
                <label for="start">Start Date</label>
                {% if start ==  None %}
                <input type="date" class="form-control" name="start" required>
                {% else %}
                <input type="date" class="form-control" value = {{start}} name="start">
                {% endif %}
                
                <label for="end">End Date</label>
                {% if end ==  None %}
                <input type="date" class="form-control" name="end" required>
                {% else %}
                <input type="date" class="form-control" value = {{end}} name="end">
                {% endif %}

                <label for="short">Short Term Avg.</label>
                {% if short ==  None %}
                <input type="number" class="form-control" name="short" placeholder=10 required>
                {% else %}
                <input type="number" class="form-control" value = {{short}} name="short" placeholder=10>
                {% endif %}

                <label for="long">Long Term Avg.</label>
                {% if long ==  None %}
                <input type="number" class="form-control" name="long" placeholder=30 required>
                {% else %}
                <input type="number" class="form-control" value = {{long}} name="long" placeholder=30>
                {% endif %}

                <label for="ticker">Stock Ticker</label>
                {% if ticker ==  None %}
                <input type="text" class="form-control" name="ticker" placeholder="AAPL" required>
                {% else %}
                <input type="text" class="form-control" value = {{ticker}} name="ticker" placeholder="AAPL">
                {% endif %}
                <hr>
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>
            </div>
           <div class="graph organize">
               {{ script|safe }}
               {{ div|safe }}
               <div class= 'under-graph'>
               <p> Sharpe Ratio: {{sharpe}} The Sharpe Ratio measures return weighted by risk. It is calculated by dividing the average return by the standard deviation of returns. Anything above 0 is usually a good investment, and anything above 1 is considered fantastic.</p>
               </div>
               <i class= 'under-graph'>The Moving Average Crossover strategy is a method that uses trends to help traders filter out the noise of an asset. It also gives indication of where the price may move next. At its base level, the MA strategy takes a short term average (fast) and a long term average (slow) to display the price movement of an asset over different time periods. When the short term average crosses over the long term average, this is an indication of an upward trend and thus tells the user to take a long position. On the other hand, when the short term average crosses below the long term average, this is a signal of a downward trend and tells the user to go short.</i>
          </div>      
            

            
<script src="//cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
           </main>
    </body>
</html>